* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(142, 199, 245);
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(224, 253, 210);
    color: rgb(142, 199, 245);
}

.content {
    background-color: rgb(201, 238, 250);
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

.footer {
    background-color: rgb(240, 213, 163);
    padding: 10px;
}